/* /Pages/Components/Header.razor.rz.scp.css */
.header-1[b-dgckrwchi2] {
    position: relative; /* Make the container a positioned parent */
    width: 100%;
    height: 75px;
    background-image: linear-gradient(140deg, #5e8d61,#5e8d61 );
    border-bottom: 2px solid;
    border-color: #302910;
}


.carrot-img[b-dgckrwchi2] {
    height:100px;
    width: 150px;
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 20px;
}

.github[b-dgckrwchi2] {
    position: absolute; /* Position the element absolutely */
    top: 50%; /* Move the element 50% down from the top of the container */
    right: 0; /* Align the element to the right */
    transform: translateY(-20%); /* Adjust for the height of the element */
    margin-right: 25px;
    font-size: 1.5em;
}

a[b-dgckrwchi2] {
    color:darkgreen;
}
/* /Pages/Components/Home.razor.rz.scp.css */
.container123[b-umpn6neeij] {
    display: flex;
    flex-direction: row;
    width: 100%
}
/* /Pages/Components/Prompt.razor.rz.scp.css */
.prompt[b-g6znmiomj0] {
    background-image: linear-gradient(140deg, #a2b780, #5e8d61);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Increased shadow */
    border: 2px solid #5e8d61; /* Solid border */
    margin: 5px;
    width:80%;
    height:fit-content;
    margin:auto;
    margin-top: 5px;
    margin-bottom:5px;
}
/* /Pages/Components/SideBarNav.razor.rz.scp.css */
/* SidebarNav.razor.css */
.sidebar[b-g2nh69mhfi] {
    position:relative;
    left: 0;
    top:0;
    height:100vh;
    width: 200px;
    background-color: #5e8d61;
    color: #fff;
    padding-top: 20px;
    border-right: 2px solid;
    border-color: #302910;
}

.sidebar ul[b-g2nh69mhfi] {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li[b-g2nh69mhfi] {
    margin-bottom: 10px;
}

.sidebar ul li a[b-g2nh69mhfi] {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.sidebar ul li a:hover[b-g2nh69mhfi] {
    background-color: #555;
}
/* /Pages/Components/WelcomeModal.razor.rz.scp.css */
/* MyModalComponent.razor.css */

.modal-overlay[b-twfjh9y7rz] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 55, 5, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;

}

.modalBack[b-twfjh9y7rz] {
    background-image: linear-gradient(140deg, #a2b780, #5e8d61);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Increased shadow */
    border: 2px solid #5e8d61; /* Solid border */
    z-index: 1000;
    margin: 5px;
    max-width: 600px; /* Limit width to improve readability */
}

.modal-header[b-twfjh9y7rz] {
    display: flex;
    justify-content: center; /* Center align header */
    align-items: center;
    margin-bottom: 20px; /* Add spacing below header */
}

.modal-header h2[b-twfjh9y7rz] {
    font-size: 24px;
    color: #f4d35d; /* White text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow */
}

.modal-body[b-twfjh9y7rz] {
    margin-top: 10px;
    color: #f4d35d; /* White text color */
    font-size: 16px;
    line-height: 1.5;
}

.continue-but[b-twfjh9y7rz] {
    display: block;
    margin: auto;
    padding: 10px 20px;
    background-color: #f4d35d;
    color: #5e8d61;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.continue-but:hover[b-twfjh9y7rz] {
    background-color: #d28752; /* Darker color on hover */
}
