@page "/counter"

<h1>Welcome dude!</h1>
<p>The counter value is @currentCount</p>
<button class="btn btn-primary" @onclick=IncrementCounter>Increment counter</button>
@code {
    private int currentCount = 42;

    private void IncrementCounter() {
        currentCount++;
    }
}