@page "/"
@page "/home"

<PageTitle>CropSQL</PageTitle>
<WelcomeModal />
<Header />
<div class="container123">
    <SideBarNav />
    <div class="container1234">
        <Terminal />
        <Prompt />
    </div>
</div>

