
    <div class="modal-overlay">
    <div class="modalBack">
        <div class="modal-header">
            <h2>Nice Job!</h2>
        </div>
        <div class="modal-body">
            <!-- Modal content goes here -->
            <p>Dude, you're crushing it!</p>
        </div>
            <a href="/2"><button class="continue-but">Next Step</button></a>

    </div>
    
</div>
}

