<div class="prompt">
    <p>Let's start by creating your farm with "CREATE DATABASE" followed by the name of your farm.
        ex: CREATE DATABASE myFarm; don't forget the semi-colon, this is how sql knows where your command ends.</p>
</div>