<div class="prompt">
    <p>Let's start by creating your farm with "CREATE DATABASE" followed by the name of your farm followed by a semi-colon don't forget the semi-colon, this is how sql knows where your command ends.</p>
    <h3>Example:</h3>
    <div class="exampleCode">
        <p>CREATE DATABASE myFarm;</p>
    </div>
</div>