<!-- SidebarNav.razor -->
<div class="sidebar">
    <ul>
        <li><a href="/">1. Create Farm</a></li>
        <li><a href="/Table">2. Use DB</a></li>
        <li><a href="#">3. Create Table</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
