<!-- SidebarNav.razor -->
<div class="sidebar">
    <ul>
        <li><a href="/">Create Farm</a></li>
        <li><a href="/Table">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
