/* Terminal.razor.css */
.terminal {
    font-family: monospace;
    border: 1px solid #ccc;
    padding: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    
    background-image: linear-gradient(140deg, #a2b780, #5e8d61);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Increased shadow */
    border: 2px solid #5e8d61; /* Solid border */
    margin: 5px;
    width:90%;
    margin:auto;
    margin-top: 5px;
    margin-bottom:5px;
    min-height: 60%;
    height:500px;
    margin-top:20px;
}

.output {
    min-height: 70%;
    max-height: 80%;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: rgba(49, 87, 54, 0.664);
    border: 2px solid #e8a073; /* Solid border */
    border-radius: 20px;
    color: #f4d35d;
    padding: 20px;

}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    background-color: rgba(49, 87, 54, 0.664);
    border: 2px solid #e8a073; /* Solid border */
    border-radius: 20px;
    color: #f4d35d;
}
input::placeholder {
    color:#f4d35d44;
}

.outText {
    margin:2px;
    margin-left: 5px;
}

.prompt {
    color: #f4d35d;
    
}

.exec-but {
    width: 30%;
    display: flex;
    margin: 10px;
    justify-content: center;
    justify-self: center;
    background-color: rgba(49, 87, 54, 0.664);
    border: 2px solid #e8a073; /* Solid border */
    border-radius: 20px;
    color: #f4d35d;
    margin: auto;
    margin-top: 5px;;
    margin-bottom: 20px;
}

.prompt {
    background-image: linear-gradient(140deg, #a2b780, #5e8d61);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Increased shadow */
    border: 2px solid #5e8d61; /* Solid border */
    margin: 20px;
    width:90%;
    height:fit-content;
    margin:auto;
    margin-top: 14px;
    margin-bottom:14px;
    color: #f4d35d;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.exampleCode {
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: rgba(49, 87, 54, 0.664);
    padding: 20px;
    border: 2px solid #e8a073; /* Solid border */
    color: #f4d35d;
    border-radius: 20px;
    font-family: monospace;
    text-align: left;

}

h2 {
    text-align: center;
    color: #f4d35d;
}

h3 {
    text-align: left;
    display: flex;
    align-items: center;
}


/* SidebarNav.razor.css */
.sidebar {
    position:relative;
    font-family: monospace;

    left: 0;
    top:0;
    height:100vh;
    width: 200px;
    background-color: rgb(49, 87, 54);
    color: #f4d35d;
    padding-top: 20px;
    border-right: 2px solid #7cb16e; /* Solid border */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    color: #f4d35d;
    text-decoration: none;
    border-bottom: 2px solid #7cb16e; /* Solid border */

}

.sidebar ul li a:hover {
    background-color: #e8a073;
    cursor: pointer;
}

.dropdown-butn {
    display: none;
}

.whole-drop {
    display: none;
}

@media screen and (max-width: 700px)  {
    .sidebar {
        display: none;
    }

    .dropdown-butn {
        display: block;
        width: fit-content;
        height:fit-content;
        background-color: rgba(49, 87, 54, 0.664);
        border: 2px solid #e8a073; /* Solid border */
        border-radius: 20px;
        color: #f4d35d;
        padding: 5px;
        margin: 5px;
    }

    .whole-drop {
        display: block;
    }

    .whole-drop ul {
        position:absolute;
        z-index: 200;
        background-color: rgb(49, 87, 54);
        color: #f4d35d;
        padding: 5px;
        border: 2px solid #e8a073; /* Solid border */
    }

    .whole-drop ul li{
        border-bottom: 2px solid #7cb16e; /* Solid border */
        margin: 5px;
    }

} 

.container123 {
    display: flex;
    flex-direction: row;
    width: 100%
}

.container1234 {
    display: flex;
    flex-direction: column;
    width: 100%
}

.exec-but:hover {
    color:#f4d35d;
    background-color: #e8a073;
    border-color: rgba(49, 87, 54, 0.664);
}

.code-line {
    text-align: left;
}

.copy-button {
    bottom: 5px; /* Adjust the positioning as needed */
    right: 5px; /* Adjust the positioning as needed */
    padding: 5px 10px;
    background-color: rgba(49, 87, 54, 0.664);
    border: 2px solid #e8a073; /* Solid border */
    border-radius: 20px;
    color: #f4d35d;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 14px;
}

.copy-button:hover {
    color:#f4d35d;
    background-color: #e8a073;
    border-color: rgba(49, 87, 54, 0.664);
}

.flex-row {
    display: flex;
    flex-direction: row;
}